pydantic
python-dotenv
langchain
openai
langchain-groq
langchain-core
langchain-community
langchain-openai
defusedxml
langchain_anthropic
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_google_genai
langchain_pinecone
youtube_search
langgraph
chromadb
langchain_tavily
yfinance
langchain_experimental
matplotlib
duckduckgo-search
protobuf>=3.20.2

autogen-agentchat
autogen-core
autogen-ext